/* 나눔스퀘어 네오 폰트 적용함 */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.App {
  padding: 0;
  padding-top: 70px;
  box-sizing: border-box;
  /* height: 3000px; */ /*임시 */
  display: flex;
  flex-direction: column; /*APP 안에 있는 콘텐츠를 세로로 배치*/
  align-items: center;  /*세로 가운데 정렬*/
  font-family: 'NanumSquareNeo-Variable';
  position: relative;
  width: 100%;
  /* overflow-x: hidden; */
  /* 부모 요소를 넘어가는 자식 요소를 보이지 않게 처리해준다.
  따라서 이번 문제의 원인은 html 밑에 있는 어느 자식 요소가 html의 width값을 넘어섰기 때문이었다. */

  height: 100vh;
}
